*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
}


.trends-container{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: white;
}

.trendsbox{
    height: 20%;
    border:1px solid white;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.trendsbox-inner{
    transition: .5s  all;
}


.typing {
    position: relative;
    line-height: 24px;
    display: inline-block;
    color: #FFF;
    min-width: 1px;
    min-height: 24px;
  }
  /*.typing:after {
    content: "";
    position: absolute;
    top: 5%;
    right: -2px;
    width: 1px;
    height: 100%;
    border-right: 2px solid #FFF;
    animation: blink .5s infinite ease;
  }*/
  @keyframes blink{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1%;
    }
  }


