*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap:break-word;

}

html{
  font-size: 10px;
}

body{
  font-size: 1.6rem;
  
}


.trends-container{
  
  height: 100vh;
  background-color: white;
  color: white;
  border-bottom:40px solid white;
  
  
}

.trendsbox{
  height: 20%;
  word-wrap:break-word;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.trendsbox-inner{
  overflow: hidden;
  transition: .5s  all;
  word-wrap:break-word;
  display: inline-block;
  text-overflow:ellipsis ;
}



/*.typing:after {
  content: "";
  position: absolute;
  top: 5%;
  right: -2px;
  width: 1px;
  height: 100%;
  border-right: 2px solid #FFF;
  animation: blink .5s infinite ease;
}*/
@keyframes blink{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1%;
  }
}





@media screen and (min-width: 500px) {
  .trendsbox{
    font-size: 1.3rem;
    
  }


  
}


@media screen and (min-width: 992px) {
  
  .trends-container{
    border-right: 40px solid white;
    border-bottom:none;
  }
}





@media screen and (min-width: 1300px) {
  .trendsbox{
    
    font-size: 1.8rem;
    
  }
}


@media screen and (min-width: 1800px) {
  .trendsbox{
    font-size: 3rem;
    
  }
}

